<!-- Sidebar Partial -->
<div class="page-sidebar bg-light">
    <div class="main-header-left d-none d-lg-block">
        <div class="logo-wrapper"><a href="index.html"><img class="logo-img" src="../assets/images/GEBZElogo-5.png"
                    alt=""></a></div>
    </div>

    <div class="sidebar custom-scrollbar bg-light">
        <div class="sidebar-user text-center">
            <div><img class="img-60 rounded-circle" src="../assets/images/user/user.png" alt="#">
                <div class="profile-edit"><a href="Profil.html" target="_blank"><i data-feather="edit"></i></a>
                </div>
            </div>
            <h6 class="mt-3 f-14 text-dark">İsim Soyisim</h6>
            <p class="text-dark">Kademe</p>
        </div>
        <ul class="sidebar-menu bg-light">
            <li><a class="sidebar-header text-dark" href="index.html"><i
                        data-feather="home"></i><span>Anasayfa</span><span
                        class="badge badge-pill badge-primary"></span></a>
            </li>
            <li>
                <a class="sidebar-header text-dark" href="#"><i data-feather="briefcase"></i>
                    <span>Kurumsal</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="Kurumsal - Yönetim.html" class="text-dark"><i
                                class="fa fa-circle text-dark"></i>Yönetim</a>
                    </li>
                    <li><a href="Kurumsal - Vizyon Misyon.html" class="text-dark"><i
                                class="fa fa-circle text-dark"></i>Vizyon-Misyon-İlke</a></li>
                    <li><a href="Kurumsal - Raporlar.html" class="text-dark"><i
                                class="fa fa-circle text-dark"></i>Raporlar</a></li>
                    <li><a href="Kurumsal - Komisyonlar.html" class="text-dark"><i
                                class="fa fa-circle text-dark"></i>Komisyonlar</a></li>
                </ul>
            </li>
            <li><a class="sidebar-header text-dark" href="Haberler.html"><i
                        data-feather="file-text"></i><span>Haberler</span></a></li>
            <li><a class="sidebar-header text-dark" href="#"><i data-feather="map-pin"></i><span>Gebze</span><i
                        class="fa fa-angle-right pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a href="Gebze - Tarihce.html" class="text-dark"><i class="fa fa-circle text-dark"></i>Tarihten
                            Günümüze Gebze</a>
                    </li>
                    <li><a href="Gebze - Gebze Yonetim.html" class="text-dark"><i
                                class="fa fa-circle text-dark"></i>Gebze
                            Yönetim</a></li>
                    <li><a href="Gebze - Sanal Tur.html" class="text-dark"><i class="fa fa-circle text-dark"></i>360
                            Sanal Tur</a></li>
                </ul>
            </li>
            <li><a class="sidebar-header text-dark" href="Hizmetler.html"><i
                        data-feather="layers"></i><span>Hizmetler</span></a>
            </li>
            <li><a class="sidebar-header text-dark" href="Etkinlikler.html"><i
                        data-feather="slack"></i><span>Etkinlikler</span></a>
            </li>
            <li><a class="sidebar-header text-dark" href="Yayınlarımız.html"><i
                        data-feather="book"></i><span>Yayınlarımız</span></a>
            </li>
            <li><a class="sidebar-header text-dark" href="İletisim.html"><i
                        data-feather="mail"></i><span>İletişim</span></a>
            </li>
            <li><a class="sidebar-header text-dark" href="kullanicilar.html"><i
                        data-feather="users"></i><span>Kullanıcılar</span></a></li>
        </ul>
    </div>
</div>