.kaydet:focus {
  outline: none;
}
.logo-img {
  height: 200px !important;
  /* Boyutu küçültür */
  object-fit: contain;
  display: block;
}

.index-img {
  height: 90px !important;
  weight: 100px !important;
  /* Boyutu küçültür */
  object-fit: contain;
  display: block;
  margin-right: 100px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex; /* Yatay hizalama */
  align-items: center; /* Dikey ortalama */
  gap: 20px; /* Fotoğraf ile yazılar arası boşluk */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 520px; /* Kart genişliği */
}

.card img {
  width: 140px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}

.card input {
  width: 90%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.degistir-btn {
  background-color: #7180e1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.degistir-btn:hover {
  background-color: #5a4bcc; /* Hover rengi */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.button-group button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 14px;
}

.photo-btn {
  background-color: #16a085;
  color: white;
}

.kaydet {
  background-color: #8e44ad;
  color: white;
  border-radius: 6px;
  border-color: #8e44ad;
}
